<!DOCTYPE html>
<!-- saved from url=(0054)http://pianomozart.com/mua-dan-piano/sanpham/17/5.html -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
	  <!--<base href="http://pianomozart.com/mua-dan-piano/sanpham/17/5.html">--><base href=".">
  
  <meta name="keywords" content="đàn piano, dan piano, mua đàn piano, mua dan piano, mua piano, mua piano điện, mua piano dien, đàn piano điện, dan piano dien, piano yamaha, bán piano, bán đàn piano, đàn piano cơ, đàn piano giá rẻ">
  <meta name="description" content="
	Đ&amp;agrave;n piano Yamaha U3H&amp;nbsp;được sản xuất v&amp;agrave;o thời điểm khi Yamaha đ&amp;a">
  <meta name="generator" content="Joomla! - Open Source Content Management">
  <title>Mua Hàng</title>
  
  <link href="http://pianomozart.com/templates/protostar/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  
  <link rel="stylesheet" href="/buy_files/template.css" type="text/css">
  <link rel="stylesheet" href="/buy_files/multi-col.min.css" type="text/css">
  <link rel="stylesheet" href="/piano/loaders.min.css">
  <script type="text/javascript" src="/piano/loaders.css.js"></script>
  
  <script src="/buy_files/jquery.min.js" type="text/javascript"></script>
  
  <script src="/buy_files/jquery-noconflict.js" type="text/javascript"></script>
  <script src="/buy_files/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="/buy_files/caption.js" type="text/javascript"></script>
  
  <script src="/buy_files/core.js" type="text/javascript"></script>
  
  
  <script src="/buy_files/bootstrap.min.js" type="text/javascript"></script>
  <script src="/buy_files/template.js" type="text/javascript"></script>
 

	


	<script>jQuery.noConflict();</script>
	
	
	



	
</head>

<body class="site com_sanpham view-sanpham no-layout no-task itemid-113">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<!-- Body -->
	<div class="body">
			<h1 class="h1-title">Mua đàn piano,Đàn piano, Đàn piano điện, Đàn piano Yamaha</h1>
			<!-- Header -->
			<header class="header" role="banner">
				<div class="container">
					<a class="header-l" href="http://pianomozart.com/">
						<img src="/buy_files/logo.png">
					</a>
				</div>
			</header>
			
					
			<!-- Main menu -->
						<div id="mainmenu">
				<div class="container">
					<div class="row-fluid">
						<div class="mainmenu span12">
							<nav class="navigation" role="navigation">
								<div class="tvtma-megamnu navbar navbar-default" role="navigation">
        <div class="container">
                <div class="navbar-header">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#tvtma-megamnu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                                        </div>

                <nav class="nav-collapse collapse" id="tvtma-megamnu">
                <ul class="nav navbar-nav nav-pills">
                            <li class="item-101 current active"><a href="/home">Trang chủ</a></li><li class="item-112"><a href="/gioi-thieu">Giới thiệu</a></li><li class="item-113 deeper parent dropdown"><a class="dropdown-toggle" href="/all">Sản phẩm </a><ul class="nav-child unstyled dropdown-menu" style="width: 500px;">
                                                                <li>
                                                                <div class="row-fluid">
                                                                <div class="tvtma-megamnu-content"><ul class="span2 unstyled"><li class="item-197 megacol-header"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li></ul><ul class="span2 unstyled"><li class="item-148 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Upright Piano">Upright Piano</a></li><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="Khác">Piano thương hiệu khác</a></li></ul><ul class="span2 unstyled"><li class="item-149 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a></li><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="/KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul><ul class="span2 unstyled"><li class="item-187 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Yamaha">Piano điện Yamaha</a></li></ul><ul class="span2 unstyled"><li class="item-150 megacol-header"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="Đàn Organ">Đàn Organ</a></li></ul></div></div></li></ul></li><li class="item-114"><a href="/all">LIST HÀNG</a></li><li class="item-115"><a href="/news">tin mới</a></li><li class="item-116"><a href="/learn" target="_blank">Đào tạo</a></li><li class="item-186"><a href="/tu-van">Tư vấn </a></li><li class="item-194"><a href="/tuyen-dung">Tuyển dụng </a></li><li class="item-117"><a href="/contact">Liên hệ</a></li>                </ul>
                </nav>
        </div>
</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Slideshow -->
					
			<!-- Content -->
			<div class="maincontent">
				<div class="container">
					<div class="row-fluid">
												
						
							<!-- Begin Sidebar -->
							<div id="sidebar" class="span3 main-left">
								<div class="sidebar-nav">
											<div class="moduletable_social">
					

<div class="custom_social">
	<table>
	<tbody>
		<tr>
			<td>
				<a href="https://www.facebook.com/pianomozart?ref=hl"><img alt="" class="cke-resize" src="/buy_files/f.png"></a></td>
			<td>
				<a href="https://plus.google.com/u/0/112139719886058615017/posts/p/pub" target="_blank"><img alt="" src="/buy_files/g.png"></a></td>
			<td>
				<a href="https://www.youtube.com/channel/UCiI5vPSSXgQn6n6T2psARwQ/videos" target="_blank"><img alt="" src="/buy_files/y.png"></a></td>
			<td>
				<a href="http://pianomozart.com/mua-dan-piano/sanpham/17/5.html#" target="_blank"><img alt="" src="/buy_files/rss.png"></a></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="ckimgrsz" style="left: 2px; top: 2px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Tìm kiếm sản phẩm</h3>
					 
<div class="searchCr_search">

	<form action="/post/search" method="post" class="form-validate">
	<br>
	<input name="key" id="mod-search-searchword" placeholder="Tên sản phẩm" value="">
	<select name="danhmuc" id="danhmuc">
		<option value="">......Danh mục sản phẩm......</option>
	  	  <option value="Grand Piano">Grand Piano</option>  <option value="Upright Piano">Upright Piano</option>  <option value="Yamaha">-- Yamaha</option>  <option value="KaWai">-- Kawai</option>  <option value="">-- Piano ngoài dòng</option>  <option value="Đàn Piano Điện">ĐÀN PIANO ĐIỆN</option>  <option value="Yamaha">-- Piano Yamaha</option>   <option value="KaWai">-- Piano Kawai</option>  <option value="Rolland">-- Piano Roland</option>  <option value="Casio">-- Piano Casio</option>  <option value="Techinics">-- Piano Technics</option>  <option value="Colombia">-- Piano Colombia</option>  <option value="Korg">-- Piano Korg</option>  <option value="Piano Giá Rẻ">Piano giá rẻ</option>  <option value="Đàn Organ">Đàn Organ</option>  <option value="Hot">Sản phẩm hot </option>  <option value="Khác">Piano Thương hiệu khác</option>  <option value="Brand New">Piano Brand New</option>	</select>
	
	<!--<select  id="xuatxu" name="xuatxu">
		<option  value="" >......Xuất xứ......</option>
		<option value="1">Nhật Bản</option>
		<option value="2">Hàn Quốc</option>
		<option value="3">Mỹ</option>
		<option value="4">Khác</option>
	</select>-->
	
	<select id="dongia" name="dongia">
		<option value="">......Giá khoảng......</option>
		<option value="1">Dưới 10.000.000</option>
		<option value="2">10.000.000-20.000.000</option>
		<option value="3">20.000.000-30.000.000</option>
		<option value="4">30.000.000-60.000.000</option>
		<option value="5">Trên 60.000.000</option>
		<option value="6">Tất cả giá</option>
	</select>

	<input type="submit" class="timkiemsp" name="gui" value="Tìm kiếm">
	
	</form>
</div>



		</div>
			<div class="moduletable_product">
					<h3>Danh mục sản phẩm</h3>
					<ul class="nav menu" id="sanphamid">
<li class="item-197"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li><li class="item-148 deeper parent"><a href="/Upright Piano">Upright Piano</a><ul class="nav-child unstyled small"><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="/Khác">Piano thương hiệu khác</a></li></ul></li><li class="item-149 deeper parent"><a href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a><ul class="nav-child unstyled small"><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul></li><li class="item-187 deeper parent"><a href="/Piano Điện Yamaha">Piano điện Yamaha</a></li><li class="item-150"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="/Đàn Organ">Đàn Organ</a></li></ul>
		</div>
			<div class="moduletable_news">
					<h3>Tin Mới</h3>
					
<div class="latestnews_news">
	<div class="list-news span12">
		<div class="img span3">
			<a title="KINH NGHIỆM MUA ĐÀN PIANO ĐIỆN" href="http://pianomozart.com/tu-van/164-kinh-nghiem-mua-dan-piano-dien.html">
				<img title="KINH NGHIỆM MUA ĐÀN PIANO ĐIỆN" class="thub-catitem" src="/buy_files/yamaha-clp230m1.jpg">
			</a>
		</div>
		<div class="title span9">
			<h6>
				<a href="http://pianomozart.com/tu-van/164-kinh-nghiem-mua-dan-piano-dien.html" class="name">
					KINH NGHIỆM MUA ĐÀN PIANO ĐIỆN				</a>
			</h6>
			<!--<dd class="create"> 
				23/02/2016			</dd>-->
		</div>
	</div>

</div>
		</div>
			<div class="moduletable_gallery">
					<h3>SHOWROOM PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="/buy_files/gfb1344328911.jpg"></p>
<p>
	<img alt="" src="/buy_files/anhbiakhodan.jpg"></p>
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>KHO ĐÀN PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="/buy_files/12.jpg"></p>
<p>
	<img alt="" src="/buy_files/111.jpg"></p>
<p>
	<img alt="" src="/buy_files/mua_dan_piano8.jpeg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Liên kết WEB</h3>
					

<div class="custom_search">
	<p>
	<a href="http://www.yamaha.com/" title=""><img alt="" src="/buy_files/yamaha.jpg" style="width: 259px; height: 122px;"></a></p>
<p>
	<a href="http://pianomozart.com/vnam.edu.vn" title=""><img alt="" src="/buy_files/partner1.jpg" style="width: 273px; height: 129px;"></a></p>
</div>
		</div>
			<div class="moduletable_social">
					<h3>Chia sẻ</h3>
					<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-top:10px;padding-left:10px;">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like" data-href="https://www.facebook.com/pianomozart?ref=hl" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
	<div class="fb-send" data-href="https://www.facebook.com/pianomozart?ref=hl" data-colorscheme="light"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	<!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
	<script src="/buy_files/platform.js" async="" defer="">
	  {lang: 'vi'}
	</script>

	<!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
	<div class="g-plusone" data-size="medium"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	 <a class="" name="zm_share" type="icon" title="Chia sẻ lên Zing Me">Chia sẻ</a>
	<script src="/buy_files/lwb.0.7.js" type="text/javascript"></script>
</div>		</div>
	
								</div>
							</div>
							<!-- End Sidebar -->
												<main id="content" role="main" class="span9">
							<div>
							
							<!-- Begin Content -->
							<div id="system-message-container">
	</div>

							
<link href="/buy_files/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/buy_files/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/buy_files/jquery.elevatezoom.js"></script>
<% for(var i=0;i<dan.length;i++){ %>
<% if(dan[i]._id == id){ %>
<% var sp = dan[i] %>
<div class="product row-fluid">
	<h1 class="cattile">
		<span id="name"><%= dan[i].name %></span>
	</h1>
	<div class="row-fluid">
		<div class="span5">
			<div class="imgintro">
				<div class="image_product" id="gallery">
					<img id="zoom_07" src="<%= dan[i].image %>" data-zoom-image="<%= dan[i].image %>">
				</div>
			</div>
		</div>
      
		<div class="span7">
			<div class="infor">
				<p class="cateogry">
					<span class="title" id="category">Danh mục:</span>
					<span class="intro" id="brand">
						<%= dan[i].brand %>	
					</span>
				</p>
				<p class="productcode">
					<span class="title" id="product-code">Product Code:</span>
					<span class="intro">
						<%= dan[i].product_code %>					</span>
				</p>
								<p style="color:#595959;padidng:0;margin:0;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;"><%= dan[i].last_price %> VNĐ</span></p>
										
 				<p class="price">
					
						
					<span class="">				
													
					
							<span style="color:#d50000;text-transform:uppercase;" id="price">Giá: <%= dan[i].price %> VNĐ</span>
											</span>
				</p>
				<p class="xuatxu"> 
					<span class="title">Xuất xứ: </span>
					<span class="intro">
						
						<%= dan[i].origin %>					</span>
				</p>
					
								<% var promotion = dan[i].promotion.split(','); %>
				
				<div>
					<div><b>Khuyến mại :</b></div>
					<% for(var j=0;j<promotion.length;j++){ %>

					<div> - <%= promotion[j] %> </div>

					<% } %>
				
				<br>
				</div>
				<div><i>
				*Nếu Quý Khách mua với số lượng lớn xin vui lòng liên hệ với PIANA ATH để được giá ưu đãi nhất!</i>
				</div>
                <p class="addtocart">
					<button id="buy-confirm" class="btn btn-primary">
						Mua Ngay
					</button>
					
					
				</p>




				
				<p class="hotline">
										<img style="height: 100px;" src="/buy_files/red-dot-sale.jpg">
									</p>
				
				<div style="overflow:hidden;clear:both;padding-top:5px;">
					<div style="float:left;padding-right:10px;">
						<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like" data-href="http://pianomozart.com/mua-dan-piano/sanpham/17/5.html" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
						<div class="fb-send" data-href="http://pianomozart.com/mua-dan-piano/sanpham/17/5.html" data-colorscheme="light"></div>
					</div>
					<div style="float:left;">
						<!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
						<script src="/buy_files/platform.js" async="" defer="">
						  {lang: 'vi'}
						</script>

						<!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
						<div class="g-plusone" data-size="medium"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div style="clear:both;" class="description">
		<h3>Mô tả sản phẩm</h3>
		<p style="padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 24px; text-align: justify;">
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="margin: 0px; padding: 0px;"><a href="http://pianomozart.com/"><strong style="margin: 0px; padding: 0px; color: rgb(60, 60, 60); line-height: 1.5;"><%= dan[i].name %></strong></a><span style="margin: 0px; padding: 0px; line-height: 1.5;">&nbsp;<%= dan[i].description %>&nbsp;<span style="color:#000000;"><span style="margin: 0px; padding: 0px;"><span style="margin: 0px; padding: 0px;">đàn piano</span></span></span>&nbsp;hiện đại.</span></span></span></span></p>
<p style="padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 24px; text-align: justify;">
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="margin: 0px; padding: 0px;"><span style="margin: 0px; padding: 0px; line-height: 1.5;">Mạnh mẽ, sang trọng, giai điệu ấm áp, …<span style="color:#000000;">&nbsp;</span></span><span style="margin: 0px; padding: 0px; color: rgb(0, 0, 0);"><strong style="margin: 0px; padding: 0px; line-height: 1.5;"><%= dan[i].name %></strong></span><span style="margin: 0px; padding: 0px; line-height: 1.5;">&nbsp;luôn luôn là sự lựa chọn hàng đầu của các nhạc sỹ, tổ chức giáo dục, các nghệ sỹ piano chuyên nghiệp.</span></span></span></span></p>
<p style="padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 24px; text-align: justify;">
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Thông số</strong></span></span></p>


	
<p style="padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 24px; text-align: justify;">
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="line-height: 21px;">Tên sản phẩm:&nbsp;</span><span style="border: 0px; margin: 0px; padding: 0px; line-height: 21px;"><%= dan[i].name %></span></span></span></p>

	<% var parameter = dan[i].parameter.split(','); %>
				
				<div>
					
					<% for(var k=0;k<parameter.length;k++){ %>

					<div> - <%= parameter[k] %></div>

					<% } %>


	<% } %>			
	<% } %>		
<p style="text-align: center;">
	<span style="color:#ff0000;"><strong>ĐỂ SỞ HỮU SẢN PHẨM NÀY, XIN MỜI QUÝ KHÁCH LIÊN HỆ PIANO ATH ĐỂ CÓ GIÁ TỐT NHẤT</strong></span></p>
<p style="text-align: center;">
	<span style="color:#ff0000;"><strong>HOTLINE: <span style="font-size:20px;">0987591202&nbsp;</span></strong></span></p>
<p>
	&nbsp;</p>
<p style="text-align: justify;">
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>PIANO ATH chuyên cung cấp các loại đàn Piano Cơ, đàn Piano điện nhập khẩu từ Nhật Bản của các hãng YAMHA, KAWAI, CASIO, ROLAND quý khách có thể đến trực tiếp showroom để test hoặc đặt hàng</strong></span></span></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Đến với PIANO ATH Quý khách hàng được trải nghiệm&nbsp;</span></span></span></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	&nbsp;</p>
<p>
	&nbsp;</p>
<ul style="margin-left: 80px; font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<li style="margin-left: 40px;">
		<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Mua PIANO với giá gốc ngay tại kho đàn</span></span></span></li>
	<li style="margin-left: 40px;">
		<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Tư vấn bán hàng nhiệt tình, chuyên nghiệp&nbsp;</span></span></span></li>
	<li style="margin-left: 40px;">
		<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Kho piano lớn với nhiều sự lựa chọn nhất cho quý khách</span></span></span></li>
	<li style="margin-left: 40px;">
		<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Nhiều chương trình ưu đãi, khuyến mại, quà tặng hấp dẫn</span></span></span></li>
	<li style="margin-left: 40px;">
		<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Chế độ bảo hành (24/7) dài hạn theo tiêu chuẩn chính hãng&nbsp;</span></span></span></li>
	<li style="margin-left: 40px;">
		<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: rgb(0, 0, 128);">Dịch vụ hậu mãi sau bán hàng&nbsp;</span></span></span></li>
</ul>

<div>
	&nbsp;</div>

<div>
	&nbsp;</div>
<div>

	<div class="buy-confirm" id="box_buy_confirm">
			<center><strong><h3>Xác Nhận Thông Tin Đơn Hàng</h3></strong></center><br>
	<div class="close" id="close">X</div>
<table>
  <tr>
    <th>Tên Sản Phẩm</th>
    <th>Thể Loại</th>
    <th>Xuất Sứ</th>
    <th>Mã Sản Phẩm</th>
    <th>Đơn Giá</th>
  </tr>
  <tr>
    <td><%= sp.name %> </td>
    <td><%= sp.category %> </td>
    <td><%= sp.origin %> </td>
    <td><%= sp.product_code %></td>
    <td><%= sp.price %> VNĐ</td>
  </tr>
 
  
</table>

<div class="loader">
        <div class="loader-inner ball-clip-rotate-multiple">
          <div></div>
          <div></div>
        </div>
      </div>

<h3>*Thông Tin Khách Hàng</h3>
<form action="/post/buy-confirm" method="post" id="form-buy">
	<input type="hidden" name="product_name" value="<%= sp.name %>">
	<input type="hidden" name="product_id" value="<%= sp._id %>">
	<input type="hidden" name="product_code" value="<%= sp.product_code %>">
	<input type="text" placeholder="Họ Tên" name="name" id="name" /><br>
	<input type="email" placeholder="Email" name="email" id="email" /><br>
	<input type="text" placeholder="Số Điện Thoại Liên Lạc" name="phone" id="phone" /><br>
	<input type="text" placeholder="Địa Chỉ Nhận Hàng" name="address" id="address" /><br>
	<input type="submit" value="Xác Nhận Mua Hàng" id="buy-submit" />
	
</form>
	</div>

	

	<style type="text/css">
			table {
				
			    border-collapse: collapse;
			    width: 100%;
			}

			th, td {
			    text-align: left;
			    padding: 8px;
			}

			tr:nth-child(even){background-color: #f2f2f2}

			th {
			    background-color: #4CAF50;
			    color: white;
			}
			div.buy-confirm{

				border-radius: 5px;
				z-index: 1000;
				display: none;
				position: fixed;
				left: 50%; 
			    top: 50%;
			    transform: translateX(-50%) translateY(-50%);
				width: 90%;
				height: 400px;
				background: gray;
			}
			form#form-buy{
				margin-left: 20px;
				position: relative;
				width: 100%;
				height: 400px;
				left: 50%; 
			    top: 50%;
			    transform: translateX(-50%) translateY(-50%);
				
			}
			div.loader{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				display: none;

			}
			div.close{
				position: absolute;
				top:0px;
				transform: translateY(-100%) translateX(100%);
				right: 0px;
				background: black;
				color:red;
				border-radius: 30%;
				border-radius: 2px solid white;
			}
			h3{
				color: white;
				font-family: arial;
			}
	</style>
	<p>
		<span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Chi tiết quý khách vui lòng liên hệ:</span></p>
	<p>
		&nbsp;</p>
	<div>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
			<strong><span style="font-size: 16px;">Chung cư Mulberrylane - Mỗ Lao - Hà Đông&nbsp;</span></strong></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
			&nbsp;</p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
			<span style="font-size: 16px;">Showroom: Chung cư Mulberrylane - Mỗ Lao - Hà Đông&nbsp;</span></p>
	</div>
	<div>
		&nbsp;</div>
	<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
		&nbsp;</p>
	<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
		&nbsp;</p>
	<div>
		&nbsp;</div>
	<div>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;"><strong>Cơ sở đào tạo:&nbsp;</strong></span></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;">Cơ sở 1: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;">Cơ sở 2:&nbsp;</span><span style="font-size: 14px;">Chung cư Mulberrylane - Mỗ Lao - Hà Đông&nbsp;</span><span style="font-size: 14px;">&nbsp;</span></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;">Cơ sở 3:&nbsp;</span><span style="font-size: 14px;">Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;">Cơ sở 4: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;">Cơ sở 5: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
		<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
			<span style="font-size: 14px;">Cơ sở 6: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
	</div>
	<div>
		&nbsp;</div>
	<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
		&nbsp;</p>
	<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
		<strong><span style="color: rgb(0, 0, 0);"><span style="font-size: 20px;">HOTLINE:</span></span><span style="color: rgb(255, 0, 0);"><span style="font-size: 20px;">&nbsp;<span style="font-size: 26px;">0987591202</span></span></span></strong></p>
</div>
	
	</div>
	

</div>

<div class="clearfix"></div>
<br>
<hr>

<div class="other_product">
	<h3 class="cattile">
		<span>Sản phẩm liên quan</span>
	</h3>
	 
	
	<ul class="ul_category row-fluid ">
			
		<li class="li_category span4 first">
			<div class="product_in_cat">
				<h3 class="titleproduct">
					<a class="title" href="http://pianomozart.com/mua-dan-piano/sanpham/17/6.html" title="Piano YAMAHA MX300R">
						Piano YAMAHA MX300R					</a>
				</h3>
				
				<p class="sanphamimg">
					<a href="http://pianomozart.com/mua-dan-piano/sanpham/17/6.html">
						<img src="/buy_files/dan-piano-mx300r.jpg">
					</a>
				</p>	
				
 			</div>
		</li>
			
		<li class="li_category span4 ">
			<div class="product_in_cat">
				<h3 class="titleproduct">
					<a class="title" href="http://pianomozart.com/mua-dan-piano/sanpham/17/220.html" title="Piano YAMAHA MC202">
						Piano YAMAHA MC202					</a>
				</h3>
				
				<p class="sanphamimg">
					<a href="http://pianomozart.com/mua-dan-piano/sanpham/17/220.html">
						<img src="/buy_files/YAMAHA-MC202.jpg">
					</a>
				</p>	
				
 			</div>
		</li>
			
		<li class="li_category span4 ">
			<div class="product_in_cat">
				<h3 class="titleproduct">
					<a class="title" href="http://pianomozart.com/mua-dan-piano/sanpham/17/221.html" title="Piano YAMAHA MX101R">
						Piano YAMAHA MX101R					</a>
				</h3>
				
				<p class="sanphamimg">
					<a href="http://pianomozart.com/mua-dan-piano/sanpham/17/221.html">
						<img src="/buy_files/dan-piano-mx300r.jpg">
					</a>
				</p>	
				
 			</div>
		</li>
		</ul>


</div>
 
							</main></div>
							<!-- End Content -->
						
												<div><img style="width: 100%" src="/buy_files/thanh-toan.jpg"></div>
					</div>
					
				</div>
			</div>
			
			<!-- Partner -->
						<div id="partner">
				<div class="container">
					<div class="row-fluid">
						<div class="partner span12">
							<script type="text/javascript" src="/buy_files/jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="/buy_files/skin.css">
<script type="text/javascript">

function mycarousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};
jQuery(document).ready(function() {
    jQuery('#weblinkkfc').jcarousel({ 
		auto: 5,
		scroll:1,
		wrap: 'circular',
		animation:'1',
		easing:'swing',
		initCallback: mycarousel_initCallback,
    });
});
</script>

<div class="row-fluid">
 
<div class="span12">
<ul id="weblinkkfc" class="jcarousel-skin-tangoTNT">
			<li>
			<a href="http://www.atlasinstruments.com/" rel="follow"><img class="imgdoitac" src="/buy_files/atlas.jpg" title="Altas Intruments"> </a>		</li>
			<li>
			<a href="http://www.steinwaypianos.com/" rel="follow"><img class="imgdoitac" src="/buy_files/boston-piano.jpg" title="Boston Piano"> </a>		</li>
			<li>
			<a href="http://www.kawai.co.za/" rel="follow"><img class="imgdoitac" src="/buy_files/kawai.jpg" title="Kawai"> </a>		</li>
			<li>
			<a href="http://www.icolor.vn/" rel="follow"><img class="imgdoitac" src="/buy_files/partner1.jpg" title="Piano"> </a>		</li>
			<li>
			<a href="http://www.steinway.com/" rel="follow"><img class="imgdoitac" src="/buy_files/steinway-sons.jpg" title="Steinway &amp; Sons"> </a>		</li>
			<li>
			<a href="http://www.yamaha-motor.com.vn/" rel="follow"><img class="imgdoitac" src="/buy_files/yamaha.jpg" title="Yamaha"> </a>		</li>
	</ul>
</div>

</div> 

						</div>
					</div>
				</div>
			</div>
						
			<div class="main-bottom">
				<div class="container">
					<div class="bottom1 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Dịch vụ cung cấp</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/142-lam-moi-dan-piano.html">
				Làm mới đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/129-len-day-dan-piano.html">
				Lên dây đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/130-van-chuyen-dan-piano.html">
				Vận chuyển đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/132-cho-thue-dan-piano.html">
				Cho thuê đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/133-sua-chua-dan-piano.html">
				Sửa chữa đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/134-thu-mua-dan-piano.html">
				Thu mua đàn piano				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
					<div class="bottom2 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Trung tâm Bảo hành - Sửa chữa </h3>
					

<div class="custom">
	<p>
	<img alt="" src="/buy_files/mua-dan-piano-dien.jpg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
	
						</div>
					</div>
					<div class="bottom3 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Thông tin hỗ trợ</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/141-ve-piano-mozart.html">
				Về PIANO ATH				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/139-lien-he.html">
				Liên hệ				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/138-huong-dan-mua-hang.html">
				Hướng dẫn mua hàng				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/137-giao-hang-van-chuyen.html">
				Giao hàng - Vận chuyển				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/136-quy-dinh-ve-che-do-bao-hanh.html">
				Quy định về chế độ bảo hành				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/135-chinh-sach-bao-mat.html">
				Chính sách bảo mật 				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="footer1">
						<h3>CÔNG TY TNHH DỊCH VỤ VÀ THƯƠNG MẠI MOZART</h3>
						<div>
							<div>Showroom: 275 Nguyễn Trãi, Thanh Xuân, Hà Nội</div>
							<div>Kho đàn: 268 Nguyễn Xiển, Thanh Xuân, Hà Nội (<a href="http://pianomozart.com/lien-he.html">Xem bản đồ</a>)</div>
							<div>Hotline: <b style="font-size:16px;color:#ff0000;">0987 589 689</b></div>
							<div>ĐT: 04 6327 1012</div>
							<div>Giờ làm việc: 8h - 22h từ thứ 2 đến CN</div>
						</div>
					</div>
					<div class="footer2">
						<div class="fb-like-box" data-href="https://www.facebook.com/pianomozart?ref=hl" data-width="355px" data-height="250" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
					</div>
				</div>
			</div>
						
	
	

<script type="text/javascript">
	jQuery(document).ready(function(){
			jQuery('button#buy-confirm').click(function(){
					jQuery('div.buy-confirm').toggle();
			});

			jQuery('div#close').click(function(){
					jQuery('div.buy-confirm').hide();
			});

			jQuery('input#buy-submit').click(function(event){
				event.preventDefault();
				var parent = jQuery(this).parent();
				var product_name = parent.find('input[name="product_name"]').val();
				var product_code = parent.find('input[name="product_code"]').val();
				var product_id = parent.find('input[name="product_id"]').val();

				var name = parent.find('input#name').val();
				var email = parent.find('input#email').val();
				var phone = parent.find('input#phone').val();
				var address = parent.find('input#phone').val();

				if(name != '' && email != '' && address != '' && phone != ''){
					jQuery('div.loader').show();
					jQuery.ajax({
						url: '/post/buy-confirm',
						type: 'POST',
						data: {
							product_name: product_name,
							product_code: product_code,
							product_id: product_id,
							name: name,
							email: email,
							phone: phone,
							address: address
						},
						dataType: 'text',
						success: function(dt){
								if(dt == 'ok'){
									jQuery('div.loader').hide();
								 alert('Đơn Hàng đã được xác nhận thành công! Bộ phận bán hàng sẽ liên hệ với quý sách trong thời gian sớm nhất!');

								}
								else{
									alert('Đã xảy ra lỗi, xin vui lòng kiểm tra lại!');
								}
						}

					})
				}  
			});
	});

</script>


</body></html>