<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" dir="ltr" lang="vi-vn"><head>
<meta name="google-site-verification" content="CCt-_80tpDcHEZ_dy5Rb2H0hRoZa_bgxxw9E-XNRe0o">

	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
	  <!-- base href="http://pianomozart.com/mua-dan-piano/upright-piano.html" -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="đàn piano, dan piano, mua đàn piano, mua dan piano, mua piano, mua piano điện, mua piano dien, đàn piano điện, dan piano dien, piano yamaha, bán piano, bán đàn piano, đàn piano cơ, đàn piano giá rẻ">
  <meta name="description" content="Chuyên cung cấp đàn piano nhập khẩu từ Nhật Bản - Nhà phân phối chính thức Piano Yamaha - Giá thành rẻ nhất chất lượng tốt nhất - Đặt chữ TÂM lên hàng đầu">
  <meta name="generator" content="Joomla! - Open Source Content Management">
  <title>PIANO ATH</title>
  <link href="http://pianomozart.com/mua-dan-piano/upright-piano/category/13.html?start=30" rel="canonical">
  <link href="http://pianomozart.com/templates/protostar/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="filter_files/modal.css" type="text/css">
  <link rel="stylesheet" href="filter_files/style.css" type="text/css">
  <link rel="stylesheet" href="filter_files/template.css" type="text/css">
  <link rel="stylesheet" href="filter_files/multi-col.css" type="text/css">
  <style type="text/css">
.nn_tooltips-link {border-bottom: 1px dashed #cccccc;} .nn_tooltips.popover {max-width: 350px;z-index: 10000;}
</style>
  <script src="filter_files/jquery_003.js" type="text/javascript"></script>
  <script src="filter_files/jquery-noconflict.js" type="text/javascript"></script>
  <script src="filter_files/jquery-migrate.js" type="text/javascript"></script>
  <script src="filter_files/caption.js" type="text/javascript"></script>
  <script src="filter_files/mootools-core.js" type="text/javascript"></script>
  <script src="filter_files/core.js" type="text/javascript"></script>
  <script src="filter_files/mootools-more.js" type="text/javascript"></script>
  <script src="filter_files/multiselect.js" type="text/javascript"></script>
  <script src="filter_files/modal.js" type="text/javascript"></script>
  <script src="filter_files/bootstrap.js" type="text/javascript"></script>
  <script src="filter_files/script.js" type="text/javascript"></script>
  <script src="filter_files/template.js" type="text/javascript"></script>
  <script type="text/javascript">
jQuery(window).on('load',  function() {
				new JCaption('img.caption');
			});
jQuery(function($) {
			 $('.hasTip').each(function() {
				var title = $(this).attr('title');
				if (title) {
					var parts = title.split('::', 2);
					$(this).data('tip:title', parts[0]);
					$(this).data('tip:text', parts[1]);
				}
			});
			var JTooltips = new Tips($('.hasTip').get(), {"maxTitleChars": 50,"fixed": false});
		});
window.addEvent('domready', function() {
				new Joomla.JMultiSelect('adminForm');
			});
		jQuery(function($) {
			SqueezeBox.initialize({});
			SqueezeBox.assign($('a.modal').get(), {
				parse: 'rel'
			});
		});
  </script>

	<link rel="stylesheet" href="filter_files/popup.css" type="text/css">
	<script type="text/javascript" src="filter_files/scrolltopcontrol.js"></script>

	<script type="text/javascript" src="filter_files/jquery_002.js"></script>

	<script>jQuery.noConflict();</script>
	<script type="text/javascript" src="filter_files/loadjs.js"></script>
	
	<link rel="stylesheet" type="text/css" href="filter_files/highslide.css">
	<script type="text/javascript" src="filter_files/highslide-full.js"></script>
	<script src="filter_files/disable-copyright.txt"></script>
	<script type="text/javascript">

	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.fadeInOut = true;
	hs.dimmingOpacity = 0.8;
	hs.outlineType = 'rounded-white';
	hs.captionEval = 'this.thumb.alt';
	hs.marginBottom = 105; // make room for the thumbstrip and the controls
	hs.numberPosition = 'caption';

	// Add the slideshow providing the controlbar and the thumbstrip
	hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		overlayOptions: {
			className: 'text-controls',
			position: 'bottom center',
			relativeTo: 'viewport',
			offsetY: -60
		},
		thumbstrip: {
			position: 'bottom center',
			mode: 'horizontal',
			relativeTo: 'viewport'
		}
	});
	</script>
	
	<!--[if lt IE 9]>
		<script src="/media/jui/js/html5.js"></script>
	<![endif]-->
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36371820-13', 'auto');
  ga('send', 'pageview');

</script>


	
<style class="firebugResetStyles" type="text/css" charset="utf-8">/* See license.txt for terms of usage */

/** reset styling **/

.firebugResetStyles {

    z-index: 2147483646 !important;

    top: 0 !important;

    left: 0 !important;

    display: block !important;

    border: 0 none !important;

    margin: 0 !important;

    padding: 0 !important;

    outline: 0 !important;

    min-width: 0 !important;

    max-width: none !important;

    min-height: 0 !important;

    max-height: none !important;

    position: fixed !important;

    transform: rotate(0deg) !important;

    transform-origin: 50% 50% !important;

    border-radius: 0 !important;

    box-shadow: none !important;

    background: transparent none !important;

    pointer-events: none !important;

    white-space: normal !important;

}

style.firebugResetStyles {

    display: none !important;

}



.firebugBlockBackgroundColor {

    background-color: transparent !important;

}



.firebugResetStyles:before, .firebugResetStyles:after {

    content: "" !important;

}

/**actual styling to be modified by firebug theme**/

.firebugCanvas {

    display: none !important;

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.firebugLayoutBox {

    width: auto !important;

    position: static !important;

}



.firebugLayoutBoxOffset {

    opacity: 0.8 !important;

    position: fixed !important;

}



.firebugLayoutLine {

    opacity: 0.4 !important;

    background-color: #000000 !important;

}



.firebugLayoutLineLeft, .firebugLayoutLineRight {

    width: 1px !important;

    height: 100% !important;

}



.firebugLayoutLineTop, .firebugLayoutLineBottom {

    width: 100% !important;

    height: 1px !important;

}



.firebugLayoutLineTop {

    margin-top: -1px !important;

    border-top: 1px solid #999999 !important;

}



.firebugLayoutLineRight {

    border-right: 1px solid #999999 !important;

}



.firebugLayoutLineBottom {

    border-bottom: 1px solid #999999 !important;

}



.firebugLayoutLineLeft {

    margin-left: -1px !important;

    border-left: 1px solid #999999 !important;

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.firebugLayoutBoxParent {

    border-top: 0 none !important;

    border-right: 1px dashed #E00 !important;

    border-bottom: 1px dashed #E00 !important;

    border-left: 0 none !important;

    position: fixed !important;

    width: auto !important;

}



.firebugRuler{

    position: absolute !important;

}



.firebugRulerH {

    top: -15px !important;

    left: 0 !important;

    width: 100% !important;

    height: 14px !important;

    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x !important;

    border-top: 1px solid #BBBBBB !important;

    border-right: 1px dashed #BBBBBB !important;

    border-bottom: 1px solid #000000 !important;

}



.firebugRulerV {

    top: 0 !important;

    left: -15px !important;

    width: 14px !important;

    height: 100% !important;

    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y !important;

    border-left: 1px solid #BBBBBB !important;

    border-right: 1px solid #000000 !important;

    border-bottom: 1px dashed #BBBBBB !important;

}



.overflowRulerX > .firebugRulerV {

    left: 0 !important;

}



.overflowRulerY > .firebugRulerH {

    top: 0 !important;

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.fbProxyElement {

    position: fixed !important;

    pointer-events: auto !important;

}

</style><style id="igtranslator-color" type="text/css"></style></head>

<body class="site com_sanpham view-category no-layout no-task itemid-148">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<!-- Body -->
	<div class="body">
			<h1 class="h1-title">Mua đàn piano,Đàn piano, Đàn piano điện, Đàn piano Yamaha</h1>
			<!-- Header -->
			<header class="header" role="banner">
				<div class="container">
					<a class="header-l" href="http://pianomozart.com/">
						<img src="filter_files/logo.png">
					</a>
				</div>
			</header>
			
					
			<!-- Main menu -->
						<div id="mainmenu">
				<div class="container">
					<div class="row-fluid">
						<div class="mainmenu span12">
							<nav class="navigation" role="navigation">
								<div class="tvtma-megamnu navbar navbar-default" role="navigation">
        <div class="container">
                <div class="navbar-header">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#tvtma-megamnu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                                        </div>

                <nav class="nav-collapse collapse" id="tvtma-megamnu">
                <ul class="nav navbar-nav nav-pills">
                            <li class="item-101 current active"><a href="/home">Trang chủ</a></li><li class="item-112"><a href="/gioi-thieu">Giới thiệu</a></li><li class="item-113 deeper parent dropdown"><a class="dropdown-toggle" href="/all">Sản phẩm </a><ul class="nav-child unstyled dropdown-menu" style="width: 500px;">
                                                                <li>
                                                                <div class="row-fluid">
                                                                <div class="tvtma-megamnu-content"><ul class="span2 unstyled"><li class="item-197 megacol-header"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li></ul><ul class="span2 unstyled"><li class="item-148 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Upright Piano">Upright Piano</a></li><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="Khác">Piano thương hiệu khác</a></li></ul><ul class="span2 unstyled"><li class="item-149 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a></li><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="/KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul><ul class="span2 unstyled"><li class="item-187 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Yamaha">Piano điện Yamaha</a></li></ul><ul class="span2 unstyled"><li class="item-150 megacol-header"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="Đàn Organ">Đàn Organ</a></li></ul></div></div></li></ul></li><li class="item-114"><a href="/all">LIST HÀNG</a></li><li class="item-115"><a href="/news">tin mới</a></li><li class="item-116"><a href="/learn" target="_blank">Đào tạo</a></li><li class="item-186"><a href="/tu-van">Tư vấn </a></li><li class="item-194"><a href="/tuyen-dung">Tuyển dụng </a></li><li class="item-117"><a href="/contact">Liên hệ</a></li>                </ul>
                </nav>
        </div>
</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Slideshow -->
					
			<!-- Content -->
			<div class="maincontent">
				<div class="container">
					<div class="row-fluid">
												
						
							<!-- Begin Sidebar -->
							<div id="sidebar" class="span3 main-left">
								<div class="sidebar-nav">
											<div class="moduletable_social">
					

<div class="custom_social">
	<table>
	<tbody>
		<tr>
			<td>
				<a href="https://www.facebook.com/pianomozart?ref=hl"><img alt="" class="cke-resize" src="filter_files/f.png"></a></td>
			<td>
				<a href="https://plus.google.com/u/0/112139719886058615017/posts/p/pub" target="_blank"><img alt="" src="filter_files/g.png"></a></td>
			<td>
				<a href="https://www.youtube.com/channel/UCiI5vPSSXgQn6n6T2psARwQ/videos" target="_blank"><img alt="" src="filter_files/y.png"></a></td>
			<td>
				<a href="#" target="_blank"><img alt="" src="filter_files/rss.png"></a></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="ckimgrsz" style="left: 2px; top: 2px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Tìm kiếm sản phẩm</h3>
					 
<div class="searchCr_search">

	<form action="tim-kiem.html" method="post" class="form-validate">
	<br>
	<input name="key" id="mod-search-searchword" placeholder="Tên sản phẩm">
<select name="danhmuc" id="danhmuc">
    <option value="">......Danh mục sản phẩm......</option>
        <option value="Grand Piano">Grand Piano</option>  <option value="Upright Piano">Upright Piano</option>  <option value="Yamaha">-- Yamaha</option>  <option value="KaWai">-- Kawai</option>  <option value="21">-- Piano ngoài dòng</option>  <option value="Đàn Piano Điện">ĐÀN PIANO ĐIỆN</option>  <option value="Yamaha">-- Piano Yamaha</option>   <option value="KaWai">-- Piano Kawai</option>  <option value="Rolland">-- Piano Roland</option>  <option value="Casio">-- Piano Casio</option>  <option value="Techinics">-- Piano Technics</option>  <option value="Colombia">-- Piano Colombia</option>  <option value="Korg">-- Piano Korg</option>  <option value="Piano Giá Rẻ">Piano giá rẻ</option>  <option value="Đàn Organ">Đàn Organ</option>  <option value="Hot">Sản phẩm hot </option>  <option value="Khác">Piano Thương hiệu khác</option>  <option value="Brand New">Piano Brand New</option> </select>
  
	
	<!--<select  id="xuatxu" name="xuatxu">
		<option  value="" >......Xuất xứ......</option>
		<option value="1">Nhật Bản</option>
		<option value="2">Hàn Quốc</option>
		<option value="3">Mỹ</option>
		<option value="4">Khác</option>
	</select>-->
	


	<input class="timkiemsp" name="gui" value="Tìm kiếm" type="submit">
	
	</form>
</div>



		</div>
			<div class="moduletable_product">
					<h3>Danh mục sản phẩm</h3>
					<ul class="nav menu" id="sanphamid">
<li class="item-197"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li><li class="item-148 deeper parent"><a href="/Upright Piano">Upright Piano</a><ul class="nav-child unstyled small"><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="/Khác">Piano thương hiệu khác</a></li></ul></li><li class="item-149 deeper parent"><a href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a><ul class="nav-child unstyled small"><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul></li><li class="item-187 deeper parent"><a href="/Piano Điện Yamaha">Piano điện Yamaha</a></li><li class="item-150"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="/Đàn Organ">Đàn Organ</a></li></ul>
		</div>
			<div class="moduletable_news">
					<h3>Tin Mới</h3>
					
<div class="latestnews_news">
	
	
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>SHOWROOM PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="filter_files/12565398_883444481775679_5405989472394164360_n.jpg"></p>
<p>
	<img alt="" src="filter_files/anh_dan2.jpg"><img alt="" src="filter_files/12524311_883444648442329_1890327645671289191_n.jpg"></p>
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>KHO ĐÀN PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="filter_files/12.jpg"></p>
<p>
	<img alt="" src="filter_files/111.jpg"></p>
<p>
	<img alt="" src="filter_files/mua_dan_piano8.jpg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Liên kết WEB</h3>
					

<div class="custom_search">
	<p>
	<a href="http://www.yamaha.com/" title=""><img alt="" src="filter_files/yamaha.jpg" style="width: 259px; height: 122px;"></a></p>
<p>
	<a href="http://pianomozart.com/vnam.edu.vn" title=""><img alt="" src="filter_files/partner1.jpg" style="width: 273px; height: 129px;"></a></p>
</div>
		</div>
			<div class="moduletable_social">
					<h3>Chia sẻ</h3>
					<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-top:10px;padding-left:10px;">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like" data-href="https://www.facebook.com/pianomozart?ref=hl" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
	<div class="fb-send" data-href="https://www.facebook.com/pianomozart?ref=hl" data-colorscheme="light"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	<!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
	<script src="filter_files/platform.js" async="" defer="defer">
	  {lang: 'vi'}
	</script>

	<!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
	<div class="g-plusone" data-size="medium"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	 <a class="" name="zm_share" type="icon" title="Chia sẻ lên Zing Me">Chia sẻ</a>
	<script src="filter_files/lwb.js" type="text/javascript"></script>
</div>		</div>
	
								</div>
							</div>
							<!-- End Sidebar -->
												<main id="content" role="main" class="span9">
							<div>
							
							<!-- Begin Content -->
							<div id="system-message-container">
	</div>

							<link href="filter_files/style_002.css" rel="stylesheet" type="text/css">
<div class="div_category">
	<div class="descript_cat">
		<h3 class="cattile"><span><%= chosen %>
    </span></h3>		
				
	</div>
	<ul class="ul_category row-fluid ">
			<li class="li_category first">
			<div class="product_in_cat">
				<p class="sanphamimg">
					<a href="http://pianomozart.com/mua-dan-piano/upright-piano/sanpham/17-yamaha/252-piano-yamaha-u30a.html">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianomozart.com/images/sanpham/danco/yamaha/u/YAMAHA-U30A.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="filter_files/YAMAHA-U30A.jpg">
						</span><span style="display:none;"><img src="filter_files/YAMAHA-U30A.jpg" style="width:300px;height:300px;"></span>
					</a>
				</p>	
								<h3 class="titleproduct">
					<a class="title" href="http://pianomozart.com/mua-dan-piano/upright-piano/sanpham/17-yamaha/252-piano-yamaha-u30a.html" title="Piano YAMAHA U30A">
						Piano YAMAHA U30A					</a>
				</h3>
				
													
				<p style="color:#595959;text-align:center;">Giá: <span style="color:#d50000;text-transform:uppercase;">82.000.000 VNĐ</span></p>
				
				<p class="addtocart"> 
					 <a href="http://pianomozart.com/component/sanpham/cart/252/addCart.html?Itemid=112">Order</a>
				</p>
				
 			</div>
		</li>


  <% for(var i=0;i<dan.length;i++){ %>
            <li class="li_category first">
      <div class="product_in_cat">
        <p class="sanphamimg">
          <a href="/buy/<%= dan[i].id %>">
            <span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;<%= dan[i].image %>&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
              <img src="<%= dan[i].image %>">
            </span><span style="display:none;"><img src="<%= dan[i].image %>" style="width:300px;height:300px;"></span>
          </a>
        </p>  
                <h3 class="titleproduct">
          <a class="title" href="/buy/<%= dan[i].id %>" title="<%= dan[i].name %>">
            <%= dan[i].name %>         </a>
        </h3>
        
                          
        <p style="color:#595959;text-align:center;">Giá: <span style="color:#d50000;text-transform:uppercase;"><%= dan[i].price %> VNĐ</span></p>
        
       
        
      </div>
    </li>

  <% } %>

			
		</ul>
</div>
<div class="clearfix"></div>

							</div>
							<!-- End Content -->
						</main>
												<div><img style="width: 100%" src="filter_files/thanh-toan.jpg"></div>
					</div>
					
				</div>
			</div>
			
			<!-- Partner -->
						<div id="partner">
				<div class="container">
					<div class="row-fluid">
						<div class="partner span12">
							<script type="text/javascript" src="filter_files/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="filter_files/skin.css">
<script type="text/javascript">

function mycarousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};
jQuery(document).ready(function() {
    jQuery('#weblinkkfc').jcarousel({ 
		auto: 5,
		scroll:1,
		wrap: 'circular',
		animation:'1',
		easing:'swing',
		initCallback: mycarousel_initCallback,
    });
});
</script>

<div class="row-fluid">
 
<div class="span12">
<ul id="weblinkkfc" class="jcarousel-skin-tangoTNT">
			<li>
			<a href="http://www.atlasinstruments.com/" rel="follow"><img class="imgdoitac" src="filter_files/atlas.jpg" title="Altas Intruments"> </a>		</li>
			<li>
			<a href="http://www.steinwaypianos.com/" rel="follow"><img class="imgdoitac" src="filter_files/boston-piano.jpg" title="Boston Piano"> </a>		</li>
			<li>
			<a href="http://www.kawai.co.za/" rel="follow"><img class="imgdoitac" src="filter_files/kawai.jpg" title="Kawai"> </a>		</li>
			<li>
			<a href="http://www.icolor.vn/" rel="follow"><img class="imgdoitac" src="filter_files/partner1.jpg" title="Piano"> </a>		</li>
			<li>
			<a href="http://www.steinway.com/" rel="follow"><img class="imgdoitac" src="filter_files/steinway-sons.jpg" title="Steinway &amp; Sons"> </a>		</li>
			<li>
			<a href="http://www.yamaha-motor.com.vn/" rel="follow"><img class="imgdoitac" src="filter_files/yamaha.jpg" title="Yamaha"> </a>		</li>
	</ul>
</div>

</div> 

						</div>
					</div>
				</div>
			</div>
						
			<div class="main-bottom">
				<div class="container">
					<div class="bottom1 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Dịch vụ cung cấp</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/142-lam-moi-dan-piano.html">
				Làm mới đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/129-len-day-dan-piano.html">
				Lên dây đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/130-van-chuyen-dan-piano.html">
				Vận chuyển đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/132-cho-thue-dan-piano.html">
				Cho thuê đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/133-sua-chua-dan-piano.html">
				Sửa chữa đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/46-dich-vu-cung-cap/134-thu-mua-dan-piano.html">
				Thu mua đàn piano				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
					<div class="bottom2 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Trung tâm Bảo hành - Sửa chữa </h3>
					

<div class="custom">
	<p>
	<img alt="" src="filter_files/mua-dan-piano-dien.jpg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
	
						</div>
					</div>
					<div class="bottom3 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Thông tin hỗ trợ</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/141-ve-piano-mozart.html">
				Về Piano Mozart				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/139-lien-he.html">
				Liên hệ				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/138-huong-dan-mua-hang.html">
				Hướng dẫn mua hàng				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/137-giao-hang-van-chuyen.html">
				Giao hàng - Vận chuyển				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/136-quy-dinh-ve-che-do-bao-hanh.html">
				Quy định về chế độ bảo hành				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianomozart.com/48-thong-tin-ho-tro/135-chinh-sach-bao-mat.html">
				Chính sách bảo mật 				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="footer1">
						<h3>CÔNG TY TNHH DỊCH VỤ VÀ THƯƠNG MẠI MOZART</h3>
						<div>
							<div>Showroom: 275 Nguyễn Trãi, Thanh Xuân, Hà Nội</div>
							<div>Kho đàn: 268 Nguyễn Xiển, Thanh Xuân, Hà Nội (<a href="http://pianomozart.com/lien-he.html">Xem bản đồ</a>)</div>
							<div>Hotline: <b style="font-size:16px;color:#ff0000;">0987 589 689</b></div>
							<div>ĐT: 04 6327 8963 </div>
							<div>Giờ làm việc: 8h - 22h từ thứ 2 đến CN</div>
						</div>
					</div>
					<div class="footer2">
						<div class="fb-like-box" data-href="https://www.facebook.com/pianomozart?ref=hl" data-width="355px" data-height="250" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
					</div>
				</div>
			</div>
						
	</div>
	
	<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3Mtyz4vLNMxz8nNgWFZdxQe8YdAMrGrk";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->

<!-- Google Code dành cho Thẻ tiếp thị lại -->
<!--------------------------------------------------
Không thể liên kết thẻ tiếp thị lại với thông tin nhận dạng cá nhân hay đặt thẻ tiếp thị lại trên các trang có liên quan đến danh mục nhạy cảm. Xem thêm thông tin và hướng dẫn về cách thiết lập thẻ trên: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 944880638;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="filter_files/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img style="border-style:none;" alt="" src="filter_files/a.gif" height="1" width="1">
</div>
</noscript>


<div style="display: none; width: 0px; height: 0px;" class="igtranslator-main-div"><iframe scrolling="no" class="igtranslator-iframe" src="filter_files/a.htm" frameborder="0"></iframe></div><div title="Click to Show Translation" style="background-image: url(&quot;resource://jid1-dgnibwqga0sibw-at-jetpack/data/icons/home.png&quot;); display: none;" class="igtranslator-activator-icon bounceIn"></div></body></html>