<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



  
  <meta name="keywords" content="đàn piano, dan piano, ` đàn piano, mua dan piano, mua piano, mua piano điện, mua piano dien, đàn piano điện, dan piano dien, piano yamaha, bán piano, bán đàn piano, đàn piano cơ, đàn piano giá rẻ">
  <meta name="description" content="Chuyên cung cấp đàn piano nhập khẩu từ Nhật Bản - Nhà phân phối chính thức Piano Yamaha - Giá thành rẻ nhất chất lượng tốt nhất - Đặt chữ TÂM lên hàng đầu">
  
  <title>Piano ATH E2009 - Đàn piano, đàn piano điện, đàn piano Yamaha nhập khẩu từ Nhật  </title>
  <link href="http://pianoath.com/" rel="canonical">
  <link href="http://pianoath.com/?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0">
  <link href="http://pianoath.com/?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0">
  <link href="http://pianoath.com/templates/protostar/favicon.ico" rel="shortcut icon" type="image/vndan[i].microsoft.icon">
  <link rel="stylesheet" href="/piano/style.min.css" type="text/css">
  <link rel="stylesheet" href="/piano/template.css" type="text/css">
  <link rel="stylesheet" href="/piano/modal.css" type="text/css">
  <link rel="stylesheet" href="/piano/nivo-slider.min.css" type="text/css">
  <link rel="stylesheet" href="/piano/default.css" type="text/css">
  <link rel="stylesheet" href="/piano/multi-col.min.css" type="text/css">
  <style type="text/css">
.nn_tooltips-link {border-bottom: 1px dashed #cccccc;} .nn_tooltips.popover {max-width: 350px;z-index: 10000;}
</style>
  <script src="/piano/jquery.min.js" type="text/javascript"></script>
  <script src="/piano/jquery-noconflict.js" type="text/javascript"></script>
  <script src="/piano/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="/piano/caption.js" type="text/javascript"></script>
  <script src="/piano/bootstrap.min.js" type="text/javascript"></script>
  <script src="/piano/script.min.js" type="text/javascript"></script>
  <script src="/piano/template.js" type="text/javascript"></script>
  <script src="/piano/mootools-core.js" type="text/javascript"></script>
  <script src="/piano/core.js" type="text/javascript"></script>
  <script src="/piano/mootools-more.js" type="text/javascript"></script>
  <script src="/piano/multiselect.js" type="text/javascript"></script>
  <script src="/piano/modal.js" type="text/javascript"></script>
  <script src="/piano/jquery.nivo.slider.min.js" type="text/javascript"></script>
  <script type="text/javascript">
jQuery(window).on('load',  function() {
				new JCaption('img.caption');
			});
jQuery(function($) {
			 $('.hasTip').each(function() {
				var title = $(this).attr('title');
				if (title) {
					var parts = title.split('::', 2);
					$(this).data('tip:title', parts[0]);
					$(this).data('tip:text', parts[1]);
				}
			});
			var JTooltips = new Tips($('.hasTip').get(), {"maxTitleChars": 50,"fixed": false});
		});
window.addEvent('domready', function() {
				new Joomla.JMultiSelect('adminForm');
			});
		jQuery(function($) {
			SqueezeBox.initialize({});
			SqueezeBox.assign($('a.modal').get(), {
				parse: 'rel'
			});
		});
  </script>

	<link rel="stylesheet" href="/piano/popup.css" type="text/css">
	<script type="text/javascript" src="/piano/scrolltopcontrol.js"></script>

	<script type="text/javascript" src="/piano/jquery.corner.js"></script>

	<script>jQuery.noConflict();</script>
	<script type="text/javascript" src="/piano/loadjs.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/piano/highslide.css">
	<script type="text/javascript" src="/piano/highslide-full.js"></script>
	<script src="/piano/disable-copyright.js"></script>
	<script type="text/javascript">

	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.fadeInOut = true;
	hs.dimmingOpacity = 0.8;
	hs.outlineType = 'rounded-white';
	hs.captionEval = 'this.thumb.alt';
	hs.marginBottom = 105; // make room for the thumbstrip and the controls
	hs.numberPosition = 'caption';

	// Add the slideshow providing the controlbar and the thumbstrip
	hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		overlayOptions: {
			className: 'text-controls',
			position: 'bottom center',
			relativeTo: 'viewport',
			offsetY: -60
		},
		thumbstrip: {
			position: 'bottom center',
			mode: 'horizontal',
			relativeTo: 'viewport'
		}
	});
	</script>
	



	
</head>

<body class="site com_content view-featured no-layout no-task itemid-101">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = dan[i].getElementsByTagName(s)[0];
  if (dan[i].getElementById(id)) return;
  js = dan[i].createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




	<!-- Body -->
	<div class="body">
			<h1 class="h1-title">Mua đàn piano,Đàn piano, Đàn piano điện, Đàn piano Yamaha</h1>
			<!-- Header -->
			<header class="header" role="banner">
				<div class="container">
					<a class="header-l" href="http://pianoath.com/">
						<img src="/piano/logo.png">
					</a>
				</div>
			</header>
			
					
			<!-- Main menu -->
						<div id="mainmenu">
				<div class="container">
					<div class="row-fluid">
						<div class="mainmenu span12">
							<nav class="navigation" role="navigation">
								<div class="tvtma-megamnu navbar navbar-default" role="navigation">
        <div class="container">
                <div class="navbar-header">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#tvtma-megamnu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                                        </div>

                <nav class="nav-collapse collapse" id="tvtma-megamnu">
                <ul class="nav navbar-nav nav-pills">
                            <li class="item-101 current active"><a href="/home">Trang chủ</a></li><li class="item-112"><a href="/gioi-thieu">Giới thiệu</a></li><li class="item-113 deeper parent dropdown"><a class="dropdown-toggle" href="/all">Sản phẩm </a><ul class="nav-child unstyled dropdown-menu" style="width: 500px;">
                                                                <li>
                                                                <div class="row-fluid">
                                                                <div class="tvtma-megamnu-content"><ul class="span2 unstyled"><li class="item-197 megacol-header"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li></ul><ul class="span2 unstyled"><li class="item-148 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Upright Piano">Upright Piano</a></li><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="Khác">Piano thương hiệu khác</a></li></ul><ul class="span2 unstyled"><li class="item-149 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a></li><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="/KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul><ul class="span2 unstyled"><li class="item-187 deeper parent  megacol-header"><a class="dropdown-toggle" href="/Yamaha">Piano điện Yamaha</a></li></ul><ul class="span2 unstyled"><li class="item-150 megacol-header"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="Đàn Organ">Đàn Organ</a></li></ul></div></div></li></ul></li><li class="item-114"><a href="/all">LIST HÀNG</a></li><li class="item-115"><a href="/news">tin mới</a></li><li class="item-116"><a href="/learn" target="_blank">Đào tạo</a></li><li class="item-186"><a href="/tu-van">Tư vấn </a></li><li class="item-194"><a href="/tuyen-dung">Tuyển dụng </a></li><li class="item-117"><a href="/contact">Liên hệ</a></li>                </ul>
                </nav>
        </div>
</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Slideshow -->
						<div id="slideshow">
				<div class="container">
					<div class="row-fluid">
						<div class="slideshow">
							
<!-- BEGIN: Vinaora Nivo Slider >> http://vinaora.com/ -->
<div class="vt_nivo_slider">
	<div id="vtnivo94" class="slider-wrapper theme-default theme-default94 nivocontrol-bottomright nivo-bullets01.png nivo-arrows01.png captionposition-topleft captionrounded-all" style="height: 360px; width: auto;">
		<div class="ribbon"></div>		<div id="vt_nivo_slider94" class="nivoSlider">
			<img src="/piano/2.jpg" alt="Vinaora Nivo Slider"><img src="/piano/3.jpg" alt="Vinaora Nivo Slider"><img src="/piano/slide1.jpg" alt="Vinaora Nivo Slider"><img src="/piano/slide2.jpg" alt="Vinaora Nivo Slider"><img src="/piano/slide3.jpg" alt="Vinaora Nivo Slider"><img src="/piano/slide4.jpg" alt="Vinaora Nivo Slider">
		</div>
		
	</div>
</div>
<script type="text/javascript">
	jQuery.noConflict();
	jQuery(window).load(function() {
		jQuery('#vt_nivo_slider94').nivoSlider({
			effect: 'fold', // Specify sets like: 'fold,fade,sliceDown'
			slices: 15, // For slice animations
			boxCols: 8, // For box animations
			boxRows: 4, // For box animations
			animSpeed: 500, // Slide transition speed
			pauseTime: 3000, // How long each slide will show
			startSlide: 4, // Set starting Slide (0 index)
			directionNav: true, // Next & Prev navigation
			controlNav: false, // 1,2,3... navigation
			controlNavThumbs: false, // Use thumbnails for Control Nav
			pauseOnHover: true, // Stop animation while hovering
			manualAdvance: false, // Force manual transitions
			prevText: 'Prev', // Prev directionNav text
			nextText: 'Next', // Next directionNav text
			randomStart: true, // Start on a random slide
			beforeChange: function(){}, // Triggers before a slide transition
			afterChange: function(){}, // Triggers after a slide transition
			slideshowEnd: function(){}, // Triggers after all slides have been shown
			lastSlide: function(){}, // Triggers when last slide is shown
			afterLoad: function(){} // Triggers when slider has loaded
		});
	});
</script>
<!-- END: Vinaora Nivo Slider >> http://vinaora.com/ -->

						</div>
					</div>
				</div>
			</div>
					
			<!-- Content -->
			<div class="maincontent">
				<div class="container">
					<div class="row-fluid">
												
						
							<!-- Begin Sidebar -->
							<div id="sidebar" class="span3 main-left">
								<div class="sidebar-nav">
											<div class="moduletable_social">
					

<div class="custom_social">
	<table>
	<tbody>
		<tr>
			<td>
				<a href="https://www.facebook.com/profile.php?id=100002881160228"><img alt="" class="cke-resize" src="/piano/f.png"></a></td>
			<td>
				<a href="#" target="_blank"><img alt="" src="/piano/g.png"></a></td>
			<td>
				<a href="#" target="_blank"><img alt="" src="/piano/y.png"></a></td>
			<td>
				<a href="#" target="_blank"><img alt="" src="/piano/rss.png"></a></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="ckimgrsz" style="left: 2px; top: 2px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Tìm kiếm sản phẩm</h3>
					 
<div class="searchCr_search">

	<form action="/home/product-search" method="post" class="form-validate">
	<br>
	<input name="key" id="mod-search-searchword" placeholder="Tên sản phẩm" value="">
	<select name="danhmuc" id="danhmuc">
		<option value="">......Danh mục sản phẩm......</option>
	  	  <option value="Grand Piano">Grand Piano</option>  <option value="Upright Piano">Upright Piano</option>  <option value="Yamaha">-- Yamaha</option>  <option value="KaWai">-- Kawai</option>  <option value="21">-- Piano ngoài dòng</option>  <option value="Đàn Piano Điện">ĐÀN PIANO ĐIỆN</option>  <option value="Yamaha">-- Piano Yamaha</option>   <option value="KaWai">-- Piano Kawai</option>  <option value="Rolland">-- Piano Roland</option>  <option value="Casio">-- Piano Casio</option>  <option value="Techinics">-- Piano Technics</option>  <option value="Colombia">-- Piano Colombia</option>  <option value="Korg">-- Piano Korg</option>  <option value="Piano Giá Rẻ">Piano giá rẻ</option>  <option value="Đàn Organ">Đàn Organ</option>  <option value="Hot">Sản phẩm hot </option>  <option value="Khác">Piano Thương hiệu khác</option>  <option value="Brand New">Piano Brand New</option>	</select>
	
	<!--<select  id="xuatxu" name="xuatxu">
		<option  value="" >......Xuất xứ......</option>
		<option value="1">Nhật Bản</option>
		<option value="2">Hàn Quốc</option>
		<option value="3">Mỹ</option>
		<option value="4">Khác</option>
	</select>-->


	<input type="submit" class="timkiemsp" name="gui" value="Tìm kiếm">
	
	</form>
</div>



		</div>
			<div class="moduletable_product">
					<h3>Danh mục sản phẩm</h3>
					<ul class="nav menu" id="sanphamid">
<li class="item-197"><a href="/brand-new">Piano Brand New</a></li><li class="item-147"><a href="/Grand Piano">Grand Piano</a></li><li class="item-148 deeper parent"><a href="/Upright Piano">Upright Piano</a><ul class="nav-child unstyled small"><li class="item-152"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-180"><a href="/KaWai">Piano Kawai</a></li><li class="item-156"><a href="/Khác">Piano thương hiệu khác</a></li></ul></li><li class="item-149 deeper parent"><a href="/Đàn Piano Điện">ĐÀN PIANO ĐIỆN</a><ul class="nav-child unstyled small"><li class="item-157"><a href="/Yamaha">Piano Yamaha</a></li><li class="item-158"><a href="KaWai">Piano Kawai</a></li><li class="item-159"><a href="/Rolland">Piano Rolland</a></li><li class="item-160"><a href="/Casio">Piano Casio</a></li><li class="item-161"><a href="/Techinics">Piano Techinics</a></li><li class="item-181"><a href="/Colombia">Piano Colombia</a></li><li class="item-182"><a href="/Korg">Piano Korg</a></li></ul></li><li class="item-187 deeper parent"><a href="/Piano Điện Yamaha">Piano điện Yamaha</a></li><li class="item-150"><a href="/Piano Giá Rẻ">Piano Giá rẻ</a></li><li class="item-192"><a href="/Đàn Organ">Đàn Organ</a></li></ul>
		</div>
			<div class="moduletable_news">
					<h3>Tin Mới</h3>
					
<div class="latestnews_news" id="news-list">
	<div class="list-news span12">
		<div class="img span3">
			<a title="Kinh Nghiệm mua đàn">
				<img title="KINH NGHIỆM MUA ĐÀN" class="thub-catitem" src="/piano/yamaha-clp230m1.jpg">
			</a>
		</div>
		<div class="title span9">
			<h6>
				<a href="/news/kinh-nghiem-mua-dan" class="name">
					KINH NGHIỆM MUA ĐÀN PIANO			</a>
			</h6>
			<!--<dd class="create"> 
				23/02/2016			</dd>-->
		</div>
	</div>
	
	
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>SHOWROOM PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="/piano/gfb1344328911.jpg"></p>
<p>
	<img alt="" src="/piano/anhbiakhodan.jpg"></p>
</div>
		</div>
			<div class="moduletable_gallery">
					<h3>KHO ĐÀN PIANO</h3>
					

<div class="custom_gallery">
	<p>
	<img alt="" src="/piano/12.jpg"></p>
<p>
	<img alt="" src="/piano/111.jpg"></p>
<p>
	<img alt="" src="/piano/mua_dan_piano8.jpeg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
			<div class="moduletable_search">
					<h3>Liên kết WEB</h3>
					

<div class="custom_search">
	<p>
	<a href="http://www.yamaha.com/" title=""><img alt="" src="/piano/yamaha.jpg" style="width: 259px; height: 122px;"></a></p>
<p>
	<a href="http://pianoath.com/vnam.edu.vn" title=""><img alt="" src="/piano/partner1.jpg" style="width: 273px; height: 129px;"></a></p>
</div>
		</div>
			<div class="moduletable_social">
					<h3>Chia sẻ</h3>
					<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-top:10px;padding-left:10px;">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = dan[i].getElementsByTagName(s)[0];
	  if (dan[i].getElementById(id)) return;
	  js = dan[i].createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like" data-href="https://www.facebook.com/profile.php?id=100002881160228" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
	<div class="fb-send" data-href="https://www.facebook.com/profile.php?id=100002881160228" data-colorscheme="light"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	<!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
	<script src="/piano/platform.js" async="" defer="">
	  {lang: 'vi'}
	</script>

	<!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
	<div class="g-plusone" data-size="medium"></div>
</div>
<div style="clear:both;overflow:hidden;padding-bottom:10px;padding-left:10px;">
	 <a class="" name="zm_share" type="icon" title="Chia sẻ lên Zing Me">Chia sẻ</a>
	<script src="/piano/lwb.0.7.js" type="text/javascript"></script>
</div>		</div>
	
								</div>
							</div>
							<!-- End Sidebar -->
												<main id="content" role="main" class="span9">
							<div>
									<div class="moduletable_hotproduct">
					<h3>SẢN PHẨM HOT</h3>
	

<link rel="stylesheet" type="text/css" href="/piano/carouselstyle.css">
<link rel="stylesheet" type="text/css" href="/piano/style.css">


<div class="tvo-carousel jcarousel-skin-tangoTNT ">
	<ul id="product">
			<li class="product span3">
			<a href="http://pianoath.com/mua-dan-piano/sanpham/17/5.html">
				<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/danco/yamaha/u/u2.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
					<img src="/piano/u2.jpg" class="css_zoom_image">
				</span><span style="display:none;"><img src="/piano/u2.jpg" style="width:300px;height:300px;"></span>
			</a>

			<div>
				<a href="http://pianoath.com/">Piano Yamaha U3H</a>
			</div>
						<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">44.000.000 VNĐ</span></p>

		</li>
			<li class="product span3 ">
			<a class="/mua-dan-piano/sanpham/25/38.html" href="http://pianoath.com/mua-dan-piano/sanpham/25/38.html">
				<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/dandien/casio/ap/CASIO-AP25.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
					<img src="/piano/CASIO-AP25.jpg" class="css_zoom_image">
				</span><span style="display:none;"><img src="/piano/CASIO-AP25.jpg" style="width:300px;height:300px;"></span>
			</a>

			<div>
				<a href="http://pianoath.com/">Piano CASIO AP25</a>
			</div>
						<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">10.500.000 VNĐ</span></p>

		</li>
			
			
		</ul>
</div>
	</div>
			<div class="moduletable_productdigital">
					<h3>Piano Brand New</h3>

<link rel="stylesheet" type="text/css" href="/piano/skin1.css">

<a style="position:absolute;top:8px;right:10px;" href="/brand-new">Xem tất cả</a>
<div class="row-fluid"> 
	<div class="span12">
		<ul id="product2" class="jcarousel-skin-tangoTNT">
			<% for(var i=0;i<=4;i++){ %>
					
					<% if(dan[i].brand_new == true){ %>
							<li class="product span3 ">
								<a class="boxing" href="/buy/<%= dan[i].id %>" title="<%= dan[i].name %>">
									<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;<%= dan[i].image %>&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
										<img src="<%= dan[i].image %>" alt="<%= dan[i].name %>">
									</span><span style="display:none;"><img src="<%= dan[i].image %>" style="width:300px;height:300px;"></span>
								</a>
							<div>
							<a href="#"><%= dan[i].name %></a>
							</div>

													
								

								<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;"><%= dan[i].price %> VNĐ</span></p>
													

						</li>
					<%}
					%>

				<%	} %>
					</ul>
	</div>
</div> 		</div>
			<div class="moduletable">
					

<div class="custom">
	<p>
	<img alt="" src="/piano/baner1.jpg"></p>
</div>
		</div>
			<div class="moduletable_productgrand">
					<h3>GRAND PIANO</h3>

<link rel="stylesheet" type="text/css" href="/piano/skin1.css">

<a style="position:absolute;top:8px;right:10px;" href="/Grand Piano">Xem tất cả</a>
<div class="row-fluid"> 
	<div class="span12">
		<ul id="product" class="jcarousel-skin-tangoTNT">
			
							<li class="product span3 first">
					<a class="boxing" href="http://pianoath.com/grand-piano/sanpham/12/3-.html" title="Piano Yamaha G2">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/danco/yamaha/g/dan-piano-yamaha-g5-white.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/dan-piano-yamaha-g5-white.jpg" alt="Piano Yamaha G2">
						</span><span style="display:none;"><img src="/piano/dan-piano-yamaha-g5-white.jpg" style="width:300px;height:300px;"></span>
					</a>
									<img style="left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;" src="/piano/sale-icon.png">
								<div>
				<a href="http://pianoath.com/grand-piano/sanpham/12/3-.html">Piano Yamaha G2</a>
			</div>

					
																<p style="color:#595959;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;">135.000.000 VNĐ</span></p>
										<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">120.000.000 VNĐ</span></p>
					
				</li>
							


				<% for(var i=0;i<=4;i++){ %>
					
					<% if(dan[i].category == 'Upright Piano'){ %>
							<li class="product span3 ">
					<a class="boxing" href="/buy/<%= dan[i].id %>" title="<%= dan[i].name %>">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;<%= dan[i].image %>&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="<%= dan[i].image %>" alt="<%= dan[i].name %>">
						</span><span style="display:none;"><img src="<%= dan[i].image %>" style="width:300px;height:300px;"></span>
					</a>
									<img style="left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;" src="/piano/sale-icon.png">
								<div>
				<a href="#"><%= dan[i].name %></a>
			</div>

					
																<p style="color:#595959;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;"><%= dan[i].last_price %> VNĐ</span></p>
										<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;"><%= dan[i].price %> VNĐ</span></p>
					

				</li>

					<%}
					%>

				<%	} %>

		




					
					</ul>
	</div>
</div> 		</div>
			<div class="moduletable_productupright">
					<h3>UPRIGHT PIANO</h3>

<link rel="stylesheet" type="text/css" href="/piano/skin1.css">

<a style="position:absolute;top:8px;right:10px;" href="/Upright Piano">Xem tất cả</a>
<div class="row-fluid"> 
	<div class="span12">
		<ul id="product1" class="jcarousel-skin-tangoTNT">
			
							<li class="product span3 first">
					<a class="boxing" href="http://pianoath.com/upright-piano/yamaha/sanpham/17/5-.html" title="Piano Yamaha U3H">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/danco/yamaha/u/u2.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/u2.jpg" alt="Piano Yamaha U3H">
						</span><span style="display:none;"><img src="/piano/u2.jpg" style="width:300px;height:300px;"></span>
					</a>
									<img style="left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;" src="/piano/sale-icon.png">
								<div>
				<a href="http://pianoath.com/upright-piano/yamaha/sanpham/17/5-.html">Piano Yamaha U3H</a>
			</div>

										
											<p style="color:#595959;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;">54.000.000 VNĐ</span></p>
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">44.000.000 VNĐ</span></p>

				</li>
							<li class="product span3 ">
					<a class="boxing" href="http://pianoath.com/upright-piano/yamaha/sanpham/17/6-.html" title="Piano YAMAHA MX300R">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/danco/yamaha/mx/dan-piano-mx300r.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/dan-piano-mx300r.jpg" alt="Piano YAMAHA MX300R">
						</span><span style="display:none;"><img src="/piano/dan-piano-mx300r.jpg" style="width:300px;height:300px;"></span>
					</a>
										<div>
				<a href="http://pianoath.com/upright-piano/yamaha/sanpham/17/6-.html">Piano YAMAHA MX300R</a>
			</div>

										
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">54.500.000 VNĐ</span></p>
										

				</li>

				<% for(var i=0;i<=4;i++){ %>
					
					<% if(dan[i].category == 'Upright Piano'){ %>
							<li class="product span3 ">
								<a class="boxing" href="/buy/<%= dan[i].id %>" title="<%= dan[i].name %>">
									<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;<%= dan[i].image %>&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
										<img src="<%= dan[i].image %>" alt="<%= dan[i].name %>">
									</span><span style="display:none;"><img src="<%= dan[i].image %>" style="width:300px;height:300px;"></span>
								</a>
							<div>
							<a href="#"><%= dan[i].name %></a>
							</div>

													
								

								<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;"><%= dan[i].price %> VNĐ</span></p>
													

						</li>
					<%}
					%>

				<%	} %>



							
					</ul>
	</div>
</div> 		</div>
			<div class="moduletable">
					

<div class="custom">
	<p>
	<img alt="" src="/piano/baner2.jpg"></p>
</div>
		</div>
			<div class="moduletable_productupright">
					<h3>Piano Thương hiệu khác</h3>
					
<link rel="stylesheet" type="text/css" href="/piano/skin1.css">

<a style="position:absolute;top:8px;right:10px;" href="/Khác">Xem tất cả</a>
<div class="row-fluid"> 
	<div class="span12">
		<ul id="product1" class="jcarousel-skin-tangoTNT">
			
							<li class="product span3 first">
					<a class="boxing" href="http://pianoath.com/upright-piano/piano-ngoai-dong/sanpham/21/305-.html" title="Đàn Piano Victor V3">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/piano-ngoai-dong/dan-piano-victor.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/dan-piano-victor.jpg" alt="Đàn Piano Victor V3">
						</span><span style="display:none;"><img src="/piano/dan-piano-victor.jpg" style="width:300px;height:300px;"></span>
					</a>
									<img style="left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;" src="/piano/sale-icon.png">
								<div>
				<a href="http://pianoath.com/upright-piano/piano-ngoai-dong/sanpham/21/305-.html">Đàn Piano Victor V3</a>
			</div>

										
											<p style="color:#595959;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;">28.000.000 VNĐ</span></p>
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">26.000.000 VNĐ</span></p>

				</li>
							<li class="product span3 ">
					<a class="boxing" href="http://pianoath.com/upright-piano/piano-ngoai-dong/sanpham/21/306-.html" title="Đàn Piano Apollo">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/piano-ngoai-dong/piano-apolo.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/piano-apolo.jpg" alt="Đàn Piano Apollo">
						</span><span style="display:none;"><img src="/piano/piano-apolo.jpg" style="width:300px;height:300px;"></span>
					</a>
									<img style="left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;" src="/piano/sale-icon.png">
								<div>
				<a href="http://pianoath.com/upright-piano/piano-ngoai-dong/sanpham/21/306-.html">Đàn Piano Apollo</a>
			</div>
	
										
											<p style="color:#595959;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;">27.000.000 VNĐ</span></p>
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">25.000.000 VNĐ</span></p>
										
	
				</li>

				
				<% for(var i=0;i<=4;i++){ %>
					
					<% if(dan[i].category == 'Khác'){ %>
							<li class="product span3 ">
					<a class="boxing" href="/buy/<%= dan[i].id %>" title="<%= dan[i].name %>">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;<%= dan[i].image %>&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="<%= dan[i].image %>" alt="<%= dan[i].name %>">
						</span><span style="display:none;"><img src="<%= dan[i].image %>" style="width:300px;height:300px;"></span>
					</a>
									<img style="left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;" src="/piano/sale-icon.png">
								<div>
				<a href="#"><%= dan[i].name %></a>
			</div>
	
										
											<p style="color:#595959;">Giá cũ: <span style="color: #333;
    text-transform: uppercase;
    text-decoration: line-through;"><%= dan[i].last_price %> VNĐ</span></p>
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;"><%= dan[i].price %> VNĐ</span></p>
										
	
				</li>

					<%}
					%>

				<%	} %>





							
					</ul>
	</div>
</div> 		</div>
			<div class="moduletable">
					

<div class="custom">
	<p>
	<img alt="" src="/piano/baner3.jpg"></p>
</div>
		</div>
			<div class="moduletable_productdigital">
					<h3>Piano điện giá rẻ</h3>
					
<link rel="stylesheet" type="text/css" href="/piano/skin1.css">

<a style="position:absolute;top:8px;right:10px;" href="Piano Giá Rẻ">Xem tất cả</a>
<div class="row-fluid"> 
	<div class="span12">
		<ul id="product2" class="jcarousel-skin-tangoTNT">
			
							<li class="product span3 first">
					<a class="boxing" href="http://pianoath.com/component/sanpham/sanpham/15/17.html" title="Piano YAMAHA CLP30">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/dandien/yamaha/clp/yamaha-clp-30.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/yamaha-clp-30.jpg" alt="Piano YAMAHA CLP30">
						</span><span style="display:none;"><img src="/piano/yamaha-clp-30.jpg" style="width:300px;height:300px;"></span>
					</a>
										<div>
				<a href="http://pianoath.com/component/sanpham/sanpham/15/17.html">Piano YAMAHA CLP30</a>
			</div>
			

										
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">5.500.000 VNĐ</span></p>
										

				</li>
							<li class="product span3 ">
					<a class="boxing" href="http://pianoath.com/component/sanpham/sanpham/15/29.html" title="Piano Yamaha CLP300">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;http://pianoath.com/images/sanpham/dandien/yamaha/clp/dan-piano-yamaha-clp-300.jpg&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="/piano/dan-piano-yamaha-clp-300.jpg" alt="Piano Yamaha CLP300">
						</span><span style="display:none;"><img src="/piano/dan-piano-yamaha-clp-300.jpg" style="width:300px;height:300px;"></span>
					</a>
										<div>
				<a href="http://pianoath.com/component/sanpham/sanpham/15/29.html">Piano Yamaha CLP300</a>
			</div>

										
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;">6.000.000 VNĐ</span></p>
	
				</li>


				<% for(var i=0;i<=4;i++){ %>
					
					<% if(dan[i].category == 'Piano Giá Rẻ'){ %>
							<li class="product span3 ">
					<a class="boxing" href="/buy/<%= dan[i].id %>" title="<%= dan[i].name %>">
						<span class="nn_tooltips-link hover isimg" data-toggle="popover" data-html="true" data-template="&lt;div class=&quot;popover nn_tooltips notitle isimg&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;div class=&quot;popover-inner&quot;&gt;&lt;h3 class=&quot;popover-title&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-content&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-placement="top" data-content="&lt;img src=&quot;<%= dan[i].image %>&quot; style=&quot;width:300px;height:300px;&quot;&gt;" title="">
							<img src="<%= dan[i].image %>" alt="<%= dan[i].name %>">
						</span><span style="display:none;"><img src="<%= dan[i].image %>" style="width:300px;height:300px;"></span>
					</a>
										<div>
				<a href="#"><%= dan[i].name %></a>
			</div>

										
					

					<p style="color:#595959;">Giá: <span style="color:#d50000;text-transform:uppercase;"><%= dan[i].price %> VNĐ</span></p>
	
				</li>


					<%}
					%>

				<%	} %>




							
					</ul>
	</div>
</div> 		</div>
	
							<!-- Begin Content -->
							<div id="system-message-container">
	</div>

							<div class="blog-featured" itemscope="" itemtype="http://schema.org/Blog">

	
		
		<div class="items-row cols-1 row-0 row-fluid">
					<div class="item column-1 span12" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
			

	<h2 class="item-title" itemprop="name">
			CHƯƠNG TRÌNH <span id="sale-name"></span> 		</h2>



<div class="icons">
	
		
	</div>




	 <div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</div>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</div>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	<em><strong style="color: rgb(255, 0, 0); font-size: 20px;">PIANO ATH XIN ĐƯỢC GỬI ĐẾN CHƯƠNG TRÌNH <span id="sale-name"></span></strong></em></div>
<div>
	&nbsp;</div>
<ul id="sale-list">
	<!-- sale list will be here -->
</ul>


<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	<span style="font-size:18px;">Nhanh tay lên số lượng có hạn!!!</span></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<span style="color:#ff0000;"><span style="font-size: 18px;">PIANO ATH là đơn vị <strong>NHẬP KHẨU TRỰC TIẾP</strong> đàn piano từ Nhật</span></span></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<span style="color:#000080;"><span style="font-size: 18px;">PIANO ATH chuyên cung cấp đàn piano điện, đàn piano cơ chất lượng cao cho toàn bộ các đại lí tại Hà Nội và khu vực các tỉnh phía Bắc.Với nhiều năm kinh nghiệm trên thị trường cung cấp nhạc cụ, chúng tôi ngày càng nhận được sự ủng hộ của quý đại lí, quý khách hàng, quý học viên và bạn yêu nhạc trong cả nước.&nbsp;</span></span></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: justify;">
	<span style="font-size:16px;"><span style="color:#ff0000;"><strong>TẠI SAO KHÁCH HÀNG LỰA CHỌN PIANO ATH?</strong></span></span></p>
<ul style="margin-left: 80px; text-align: center;">
	<li style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; margin-left: 40px; text-align: justify;">
		<em><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;"><span style="color: rgb(0, 0, 128);">Đàn piano nhập khẩu nguyên chiếc chính hãng 100% từ Nhật Bản</span></span></span></em></li>
	<li style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; margin-left: 40px; text-align: justify;">
		<em><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;"><span style="color: rgb(0, 0, 128);">Showroom piano và kho đàn lớn nhất miền Bắc&nbsp;</span></span></span></em></li>
	<li style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; margin-left: 40px; text-align: justify;">
		<em><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;"><span style="color: rgb(0, 0, 128);">Chế độ bảo hành (24/7) dài hạn theo tiêu chuẩn chính hãng&nbsp;</span></span></span></em></li>
	<li style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; margin-left: 40px; text-align: justify;">
		<em><span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif;"><span style="color: rgb(0, 0, 128);">Tư vấn chuyên nghiệp, nhiệt tình, nhiều dịch vụ hậu mãi sau bán hàng&nbsp;</span></span></span></em></li>
</ul>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	<strong><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">HÌNH ẢNH &nbsp;SHOWROOM PIANO ATH</span></span></strong></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	<span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></span></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" class="cke-resize cke-resize" src="/piano/showroom-piano.jpg" style="height: 300px; width: 400px;"><img alt="" src="/piano/showroom-piano-1.jpg" style="height: 300px; width: 400px;"></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" class="cke-resize" src="/piano/12565398_883444481775679_5405989472394164360_n.jpg" style="height: 300px; width: 400px;"><img alt="" src="/piano/12524311_883444648442329_1890327645671289191_n.jpg" style="height: 300px; width: 400px;"></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" src="/piano/mua-piano.jpg" style="width: 400px; height: 300px;"><img alt="" src="/piano/piano-mozart.jpg" style="text-align: center; width: 400px; height: 300px;"></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" src="/piano/piano-co.jpg" style="width: 400px; height: 300px;"><img alt="" src="/piano/anh_khach_hang.jpg" style="font-family: Arial; height: 300px; width: 400px;"></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" src="/piano/piano_co112.jpg" style="height: 300px; width: 400px;"><img alt="" src="/piano/cua_hang_piano.jpg" style="font-family: Arial; height: 300px; width: 400px;"></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" src="/piano/anh_dan_co.jpg" style="height: 300px; width: 400px;"><img alt="" src="/piano/cuahang_dan_piano.jpg" style="font-family: Arial; height: 300px; width: 400px;"></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	<strong><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">HÌNH ẢNH &nbsp;KHO ĐÀN PIANO ATH</span></span></strong></p>
<p style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp;</span><img alt="" src="/piano/KHOpianoath.jpg" style="font-size: 14px; height: 300px; width: 400px;"><img alt="" class="cke-resize cke-resize" src="/piano/IMG_1312.JPG" style="text-align: center; height: 300px; width: 400px;"></p>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</div>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" src="/piano/piano-co2.jpg" style="height: 300px; text-align: center; font-family: arial, helvetica, sans-serif; font-size: 14px; width: 400px;"><img alt="" src="/piano/IMG_1320.JPG" style="font-family: Arial; height: 300px; width: 400px;"></div>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	&nbsp;</div>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif;">
	<img alt="" src="/piano/12.jpg" style="font-family: Arial; height: 221px; width: 400px;"><img alt="" class="cke-resize" src="/piano/dan_piano6.jpeg" style="font-family: arial, helvetica, sans-serif; font-size: 14px; height: 225px; width: 400px;"></div>
<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
	&nbsp;</div>
<div>
	&nbsp;</div>
<div style="text-align: center;">
	<span style="font-size:16px;"><strong>Mỗi số mẫu đàn Piano cơ đang được khuyến mại tại Sho</strong></span><span style="font-size: 16px;"><strong>wroo</strong></span><strong style="font-size: 16px;">m PIANO ATH</strong></div>
<div style="text-align: center;">
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<div style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif; text-align: center;">
		<div>
			<p>
				<img alt="" class="cke-resize" src="/piano/IMG_2679.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/IMG_2680.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/IMG_2681.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/IMG_2682.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/IMG_2683.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/IMG_2684.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/IMG_2685.JPG" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/apllo.jpg" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/earl-windson.jpg" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/rosentock.jpg" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				<img alt="" src="/piano/w106.jpg" style="width: 477px; height: 358px;"></p>
			<p>
				&nbsp;</p>
			<p>
				<strong><span style="font-size: 16px; text-align: justify;">Chương trình khuyến mại giảm giá đàn điện lên đến 50%.</span></strong></p>
			<p>
				&nbsp;</p>
			<p>
				<span style="font-size:12px;">Yamaha CLP 120</span></p>
			<p>
				<img alt="" src="/piano/yamaha-clp120.jpg" style="height: 477px; width: 477px;"></p>
			<p>
				&nbsp;</p>
			<p>
				Yamaha CLP 130&nbsp;</p>
			<p>
				<img alt="" src="/piano/yamaha-clp130.jpg" style="height: 477px; width: 477px;"></p>
			<p>
				&nbsp;</p>
			<p>
				Yamaha CLP 150</p>
			<p>
				<img alt="" src="/piano/yamaha-clp150.jpg"></p>
			<p>
				&nbsp;</p>
			<p>
				Yamaha CLP 170</p>
			<p>
				<img alt="" src="/piano/yamaha-clp170.jpg"></p>
			<p>
				&nbsp;</p>
			<p>
				Roland HP203</p>
			<p>
				<img alt="" src="/piano/roland-hp-203mh.jpg"></p>
			<p>
				&nbsp;</p>
			<p>
				Roland HP 207</p>
			<p>
				<img alt="" src="/piano/roland-hp-207mh.jpg"></p>
			<p>
				&nbsp;</p>
			<p>
				Yamaha CLP 270&nbsp;</p>
			<p>
				<img alt="" src="/piano/yamaha-clp270.jpg"></p>
			<p>
				&nbsp;</p>
			<p>
				Yamaha CLP 280&nbsp;</p>
			<p>
				<img alt="" src="/piano/yamaha-clp280PE.jpg"></p>
			<p>
				&nbsp;</p>
			<p>
				<span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Chi tiết quý khách vui lòng liên hệ:</span></p>
			<p>
				&nbsp;</p>
			<div>
				<div>
					<div>
						<p>
							<strong><span style="font-size: 16px;">Công ty TNHH Dịch vụ và Thương mại ATH&nbsp;</span></strong></p>
						<p>
							&nbsp;</p>
						<p>
							<span style="font-size: 16px;">Showroom: Chung cư Mulberrylane - Mỗ Lao - Hà Đông&nbsp;</span></p>
						<p>
							&nbsp;</p>
					</div>
					<p style="text-align: justify;">
						<span style="font-size: 14px;"><strong>Cơ sở đào tạo:&nbsp;</strong></span></p>
					<p style="text-align: justify;">
						<span style="font-size: 14px;">Cơ sở 1: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
					<p style="text-align: justify;">
						<span style="font-size: 14px;">Cơ sở 2:&nbsp;</span><span style="font-size: 14px;">Chung cư Mulberrylane - Mỗ Lao - Hà Đông&nbsp;</span><span style="font-size: 14px;">&nbsp;</span></p>
					<p style="text-align: justify;">
						<span style="font-size: 14px;">Cơ sở 3:&nbsp;</span><span style="font-size: 14px;">Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
					<p style="text-align: justify;">
						<span style="font-size: 14px;">Cơ sở 4: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
					<p style="text-align: justify;">
						<span style="font-size: 14px;">Cơ sở 5: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
					<p style="text-align: justify;">
						<span style="font-size: 14px;">Cơ sở 6: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</span></p>
					<p style="text-align: justify;">
						&nbsp;</p>
					<p>
						<strong><span style="color: rgb(255, 0, 0);"><span style="font-size: 20px;">HOTLINE: <span style="font-size:24px;"><a href="tel:0987 589 689">0987591202</a></span></span></span></strong></p>
				</div>
				<div>
					&nbsp;</div>
			</div>
		</div>
		<div>
			<div>
				&nbsp;</div>
		</div>
	</div>
</div>
<div id="ckimgrsz" style="left: 350px; top: 20015px;">
	<div class="preview" style="background-image: url(http://pianoath.com/images/Dan-Nhat/yamaha-YDPS31.jpg); display: none; top: -159px; left: 0px; width: 636px; height: 636px;">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 164.5px; top: 23814px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 34.5px; top: 1076px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 0px; top: 7571px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 0px; top: 7517px;">
	<div class="preview">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 0px; top: 2232px;">
	<div class="preview" style="display: none; top: 0px; left: 0px; width: 400px; height: 300px; background-image: url(http://pianoath.com/images/Anh/showroom/showroom-piano-1.jpg);">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 34.5px; top: 9768px;">
	<div class="preview" style="display: none; top: 15.25px; left: 0px; width: 885px; height: 663.25px; background-image: url(http://pianoath.com/images/anh-baiviet/w106.jpg);">
		&nbsp;</div>
</div>
<div id="ckimgrsz" style="left: 34.5px; top: 3537px;">
	<div class="preview">
		&nbsp;</div>
</div>




			</div>
			
			
		</div>
		
	


</div>

							</div>
							<!-- End Content -->
						</main>
												<div><img style="width: 100%" src="/piano/thanh-toan.jpg"></div>
					</div>
					
				</div>
			</div>
			
			<!-- Partner -->
						<div id="partner">
				<div class="container">
					<div class="row-fluid">
						<div class="partner span12">
							<script type="text/javascript" src="/piano/jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="/piano/skin.css">
<script type="text/javascript">

function mycarousel_initCallback(carousel)
{
    
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};
jQuery(document).ready(function() {
    jQuery('#weblinkkfc').jcarousel({ 
		auto: 5,
		scroll:1,
		wrap: 'circular',
		animation:'1',
		easing:'swing',
		initCallback: mycarousel_initCallback,
    });
});
</script>

<div class="row-fluid">
 
<div class="span12">
<ul id="weblinkkfc" class="jcarousel-skin-tangoTNT">
			<li>
			<a href="http://www.atlasinstruments.com/" rel="follow"><img class="imgdoitac" src="/piano/atlas.jpg" title="Altas Intruments"> </a>		</li>
			<li>
			<a href="http://www.steinwaypianos.com/" rel="follow"><img class="imgdoitac" src="/piano/boston-piano.jpg" title="Boston Piano"> </a>		</li>
			<li>
			<a href="http://www.kawai.co.za/" rel="follow"><img class="imgdoitac" src="/piano/kawai.jpg" title="Kawai"> </a>		</li>
			<li>
			<a href="http://www.icolor.vn/" rel="follow"><img class="imgdoitac" src="/piano/partner1.jpg" title="Piano"> </a>		</li>
			<li>
			<a href="http://www.steinway.com/" rel="follow"><img class="imgdoitac" src="/piano/steinway-sons.jpg" title="Steinway &amp; Sons"> </a>		</li>
			<li>
			<a href="http://www.yamaha-motor.com.vn/" rel="follow"><img class="imgdoitac" src="/piano/yamaha.jpg" title="Yamaha"> </a>		</li>
	</ul>
</div>

</div> 

						</div>
					</div>
				</div>
			</div>
						
			<div class="main-bottom">
				<div class="container">
					<div class="bottom1 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Dịch vụ cung cấp</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/46-dich-vu-cung-cap/142-lam-moi-dan-piano.html">
				Làm mới đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/46-dich-vu-cung-cap/129-len-day-dan-piano.html">
				Lên dây đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/46-dich-vu-cung-cap/130-van-chuyen-dan-piano.html">
				Vận chuyển đàn piano 				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/46-dich-vu-cung-cap/132-cho-thue-dan-piano.html">
				Cho thuê đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/46-dich-vu-cung-cap/133-sua-chua-dan-piano.html">
				Sửa chữa đàn piano				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/46-dich-vu-cung-cap/134-thu-mua-dan-piano.html">
				Thu mua đàn piano				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
					<div class="bottom2 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Trung tâm Bảo hành - Sửa chữa </h3>
					

<div class="custom">
	<p>
	<img alt="" src="/piano/mua-dan-piano-dien.jpg"></p>
<div id="ckimgrsz" style="left: 0px; top: 0px;">
	<div class="preview">
		&nbsp;</div>
</div>
</div>
		</div>
	
						</div>
					</div>
					<div class="bottom3 bottom-item">
						<div>
									<div class="moduletable">
					<h3>Thông tin hỗ trợ</h3>
					<ul class="category-module">
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/48-thong-tin-ho-tro/141-ve-piano-mozart.html">
				Về Piano ATH			</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/48-thong-tin-ho-tro/139-lien-he.html">
				Liên hệ				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/48-thong-tin-ho-tro/138-huong-dan-mua-hang.html">
				Hướng dẫn mua hàng				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/48-thong-tin-ho-tro/137-giao-hang-van-chuyen.html">
				Giao hàng - Vận chuyển				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/48-thong-tin-ho-tro/136-quy-dinh-ve-che-do-bao-hanh.html">
				Quy định về chế độ bảo hành				</a>
			
			
			
			
			
			
					</li>
			<li>
							<a class="mod-articles-category-title " href="http://pianoath.com/48-thong-tin-ho-tro/135-chinh-sach-bao-mat.html">
				Chính sách bảo mật 				</a>
			
			
			
			
			
			
					</li>
	</ul>
		</div>
	
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="footer1">
						<h3>CÔNG TY TNHH DỊCH VỤ VÀ THƯƠNG MẠI ATH</h3>
						<div>
							<div>Showroom: Chung cư Mulberrylane - Mỗ Lao - Hà Đông</div>
							<div>Kho đàn: Chung cư Mulberrylane - Mỗ Lao - Hà Đông (<a href="http://pianoath.com/lien-he.html">Xem bản đồ</a>)</div>
							<div>Hotline: <b style="font-size:16px;color:#ff0000;">0987591202</b></div>
							<div>ĐT: 0987591202</div>
							<div>Giờ làm việc: 8h - 22h từ thứ 2 đến CN</div>
						</div>
					</div>
					<div class="footer2">
						<div class="fb-like-box" data-href="https://www.facebook.com/profile.php?id=100002881160228" data-width="355px" data-height="250" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
					</div>
				</div>
			</div>
						
	</div>

	
<script type="text/javascript">
	jQuery(document).ready(function(){
			jQuery.ajax({
				url: '/post/sale-info',
				type: 'POST',
				dataType: 'json',
				data: {
					req: 'sale'
				},
				
				success: function(dt){
					
					jQuery('span#sale-name').text(dt.name);
					var content = dt.content;
					content = content.split(',');
					for(var i=0;i<content.length;i++){
						jQuery('ul#sale-list').append('<li style="margin-left: 40px;"><span style="font-size: 16px;">*'+content[i]+'</span></li>');
					}
					
				},
				error: function(err){
					alert('gaf');
				}
			});



			jQuery.ajax({
				url: '/post/news-info',
				type: 'POST',
				dataType: 'json',
				data: {
					req: 'news'
				},
				
				success: function(dt){
					dt.forEach(function(d){
								
								jQuery('div#news-list').append('<div class="list-news span12"><div class="img span3"><a title=""><img title="KINH NGHIỆM MUA ĐÀN" class="thub-catitem" src="/piano/yamaha-clp230m1.jpg"></a></div><div class="title span9"><h6><a href="/news/kinh-nghiem-mua-dan" class="name">'+d.name+'</a></h6></div></div>')

					});
					
				},
				error: function(err){
					alert('gaf');
				}
			});
	});
</script>

</body></html>